.call{
  width:100%;
  height:100%;
  display:inline-block;
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top,  #1e5799 0%, #2c81a8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#2c81a8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1e5799 0%,#2c81a8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1e5799 0%,#2c81a8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1e5799 0%,#2c81a8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #1e5799 0%,#2c81a8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#2c81a8',GradientType=0 ); /* IE6-9 */

  .container-img{

  	  text-align: center;
  	  margin-top:90px;

	  .circle {
		  width: 112px;
		  height: 112px;
		  border: 1px solid #C7C7C7;
		  border-radius: 50%;
		  overflow: hidden;
		  margin: 0 auto;
		  .contact-img{
		  	height: 32px;
		  	width: 32px;
			background: url("../images/user_32x32.svg");
			display: inline-block;
			margin-top:6px;
		  }
	  }
  }


    .header-incoming{
  	  padding-top: 10px;
  	  padding-bottom: 10px;
	  margin: 0 auto;
	  display: table;
	  height: 60px;
	  text-align:center;
	  width: 100%;
	  background-color: black;
	  padding-left: 20px;


	  	.circle {
		  width: 48px;
		  height: 48px;
		  border: 1px solid #C7C7C7;
		  border-radius: 50%;
		  overflow: hidden;
		  margin: 0 auto;
		  float:left;
		  display:inline-block;
		  .contact-img{
		  	height: 32px;
		  	width: 32px;
			background: url("../images/user_32x32.svg");
			display: inline-block;
			margin-top:6px;
		  }
	  }

	  .title-call{
	  		font-size: 14px;
			float: left;
			font-weight: 100;
			font-family: inherit;
			color:white;
	  		text-align: center;
	  		width: 100%;
	  	}

  	.title-container{
  		  width: 84%;
		  height: 40px;
		  text-align: center;
		  margin-top:8px;

		  .title{
		  	color: #FFFFFF;
		  	font-size:24px;
		  	font-family: Arial;
		  }
  	}
  }


  .duration-container{
  	width: 100%;
  	height: 30px;
  	background-color: rgba(0, 0, 0, 0.3);
  	text-align:center;
  	.duration-title{
  		font-size:22px;
  		font-family: Arial;
  		color: #FFFFFF;
  	}
  }

  .body-container{
  		   width: 100%;
	   position: absolute;
	   height: 78%;
	   overflow:scroll;

	   .container {
		  display: table;
		  margin-top:25px;
		}
		.column {
		  display: table-cell;

		  &.middle-column{
		  	width:50px;
		  		.circle {
				  width: 72px;
				  height: 72px;
				  border: 1px solid #C7C7C7;
				  border-radius: 50%;
				  overflow: hidden;
				  margin: 0 auto;
				  
				  .icon{
				  	  height: 100%;
					  width: 100%;
					  display: inline-block;
				
					  &.dialpad{
					  	background: url("../images/dial-pad.svg");
					  	background-repeat: no-repeat;
					  	background-position: 15px 15px;
					  }

					
				  }

				  &.pressedgreen{
				  	background-color: #53DA34;
				  }
				  

				}
		  }

		  &.outside-columns{
		  	width: 72px;
			  .circle {
				  width: 72px;
				  height: 72px;
				  border: 1px solid #C7C7C7;
				  border-radius: 50%;
				  overflow: hidden;
				  margin: 0 auto;

				  .arrow{
						  background: url("../images/forward_26x26.svg");
						  width: 26px;
						  height: 26px;
						  margin-top: 14px;
						  margin-left: 12px;
					  }

				  .transfer{
						  background: url("../images/user_26x26.svg");
						  width: 26px;
						  height: 26px;
						  margin-left: 30px;
						  margin-top: -8px;
					  }

				   .consultative-transfer{
					  	background: url("../images/users_26x26.svg");
					  	width: 28px;
						height: 26px;
						margin-left: 30px;
						margin-top: -8px;
					  }
				  
				  .icon{
				  	  height: 100%;
					  width: 100%;
					  display: inline-block;
				
					  &.mute{
					  	background: url("../images/volume-mute.svg");
					  	background-repeat: no-repeat;
					  	background-position: 20px 17px;
					  }

					  &.speaker{
					  	background: url("../images/volume-high.svg");
					  	background-repeat: no-repeat;
					  	background-position: 20px 17px;
					  }

					  
				  }

				  &.pressedgreen{
				  	background-color: #53DA34;
				  }

				}

			.department-title{
				font-size: 12px;
			    color: #717171;
			    text-align: center;
			    font-family: tahoma;
			    margin-top: 4px;
			}
		  }

		}	
  }

  .container-buttons{
  	  position: absolute;
	  bottom:0px;

	  .button{
		width: 250px;
		height: 60px;
		display: inline-block;
		margin-left: 13%;
		border-radius: 10px;
		margin-bottom: 5%;

	  	.hangup-img{
		  	height: 48px;
		  	width: 48px;
			background: url("../images/phone-hang-up.svg");
			display: inline-block;
			margin-left:40%;
			margin-top: 7px;
		 }

	  	&.red{
	  		background-color:#E15546;
	  	}
	  	

	  	.title{
	  		font-size:16px;
	  		color:white;
	  		text-align: center;
	  		padding-top: 20px;
	  	}

	  }
  }
}