.header{
	width:100%;
	height:12%;
	position:absolute;
	  background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #2c81a8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#2c81a8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1e5799 0%,#2c81a8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1e5799 0%,#2c81a8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1e5799 0%,#2c81a8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1e5799 0%,#2c81a8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#2c81a8',GradientType=0 ); /* IE6-9 */

	.logo-container{
		float:left;
		display:inline-block;
		width:10%;
	
		.logo-header{
		  height: 47px;
	      width: 46px;
	      background: url("../images/logo-header.png");
	      display: inline-block;
		  margin-top: 6px;
		  margin-left:10px;

		  .circle {
		    width: 18px;
		    height: 16px;
		    border-radius: 50%;
		    overflow: hidden;
		    margin: 0 auto;
		    margin-top:17px;

		    &.online{
		      background-color: #73E459;
		    }
		    &.busy{
		      background-color:red;
		    }
		    &.away{
		      background-color:orange;
		    }
		    &.offline{
		      background-color:#C3C3C3;
		    }

		  }
		}

		.status-title{
		  display: block;
		  font-size: 10px;
		  color: white;
		  margin-left: 15px;
		  margin-top:3px;
		}
	}

	.username{
		width:80%;
		color:white;
		font-size:18px;
		display:inline-block;
		font-weight:300;
		float:left;
		text-align:center;
		margin-top:18px;
	}

	.burger-nav{
		float:left;
		width:10%;
		height: 32px;
	    background: url("../images/menu.svg");
	    background-repeat:no-repeat;
	    display: inline-block;
		margin-top: 12px;
	}
}