<div ng-controller="callingCtrl" class="calling">


<div class="container-img">
	<div class="circle">
		<div class="contact-img"></div>
	</div>
</div>


<div class="header-incoming">

	<div class="title-call"> Calling ...</div>
	
	<div class="title-container">
		<div class="title"> Cecilia Gauna</div>
	</div>
</div>

<div class="container-buttons">
	<div class="button red" 
		touch-event
        touch-start-class='touch-start'
		ng-click="back()">
		<div class="hangup-img"></div>	
	</div>
</div>
</div>