<div ng-controller="callCtrl" class="call">

<div class="header-incoming">

	<div class="circle">
		<div class="contact-img"></div>
	</div>
	
	<div class="title-container">
		<div class="title"> Cecilia Gauna</div>
	</div>
</div>
<div class="duration-container">
	<div class="duration-title">00:05</div>
</div>

<!-- control buttons -->
<div ng-show="!contactsListVisible && !dialPadVisible">

<div class="body-container" >
<div class="container">
  <div class="column outside-columns">
    <div class="circle" 
          touch-event
          touch-start-class='touch-start'
          ng-click="isMute=!isMute" 
          ng-class="{'pressedgreen':isMute}">
      <div class="icon mute"></div>
    </div>
  </div>
  <div class="column middle-column"></div>
  <div class="column outside-columns">
    <div class="circle" 
          touch-event
          touch-start-class='touch-start'
          ng-click="isSpeaker=!isSpeaker" 
          ng-class="{'pressedgreen':isSpeaker}">
      <div class="icon speaker"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="column outside-columns">
    <div class="circle"  
          touch-event
          touch-start-class='touch-start'
          ng-click="showTransferContactList()">
      <div class="arrow"></div>
      <div class="transfer"></div>
    </div>
  </div>
  <div class="column middle-column"></div>
  <div class="column outside-columns">
    <div class="circle" 
          touch-event
          touch-start-class='touch-start'
          ng-click="showTransferContactList()">
      <div class="arrow"></div>
      <div class="consultative-transfer"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="column outside-columns"></div>
  <div class="column middle-column">
  	<div class="circle" 
          touch-event
          touch-start-class='touch-start'
          ng-click="showDialPad()">
      <div class="icon dialpad"></div>
    </div>
  </div>
  <div class="column outside-columns"></div>
</div>

</div>

<div class="container-buttons">
	<div class="button red" 
        touch-event
        touch-start-class='touch-start'
        ng-click="back()">
		<div class="hangup-img"></div>	
	</div>
</div>
</div>

<!-- Transfer Controls -->
<div ng-include="'views/call/transfer-contacts-modal.html'" ng-show="contactsListVisible" class="transfer"></div>

<!-- Dial Pad Controls -->
<div ng-include="'views/call/numpad-call.html'" ng-show="dialPadVisible" class="dialpad"></div>

<!-- consultative Transfer view -->
<div>
</div>
<!-- end CX-Fer -->

</div>