<div ng-controller="incomingCallCtrl" class="incoming-call">


<div class="container-img">
	<div class="circle">
		<div class="contact-img"></div>
	</div>
</div>


<div class="header-incoming">

	<div class="title-call"> Incoming call ...</div>
	
	<div class="title-container">
		<div class="title"> Cecilia Gauna</div>
	</div>
</div>

<div class="container-buttons">
	<div class="button red">
		<div class="hangup-img"></div>	
	</div>
	<div class="button green">
		<div class="answer-img"></div>	
	</div>
</div>
</div>