<div ng-include="'views/partials/nav-burger.html'"></div>
<snap-content>

<div ng-include="'views/partials/header.html'" ></div>

<div class="contacts">

<div class="container">
	<div class="column w20">
		<div class="circle">
			<div class="contact-logo">
				<!--<div class="circle busy" ></div>-->
			</div>
		</div>
	</div>
	<div class="column w80">
		<div class="notification-from">
			Marcelo Bonin
		</div>
		<div class="call-img" ng-click="navigate('incomingcall')">
		</div>
	</div>
</div>

<div class="container">
	<div class="column w20">
		<div class="circle">
			<div class="contact-logo">
				<!--<div class="circle busy" ></div>-->
			</div>
		</div>
	</div>
	<div class="column w80">
		<div class="notification-from">
			Cecilia Gauna
		</div>
		<div class="call-img" ng-click="navigate('calling')"></div>
	</div>
</div>

<div class="container">
	<div class="column w20">
		<div class="circle">
			<div class="contact-logo">
				<!--<div class="circle busy" ></div>-->
			</div>
		</div>
	</div>
	<div class="column w80">
		<div class="notification-from">
			Nicolas Avila
		</div>
		<div class="call-img" ng-click="navigate('call')"></div>
	</div>
</div>

<div class="container">
	<div class="column w20">
		<div class="circle">
			<div class="contact-logo">
				<!--<div class="circle busy" ></div>-->
			</div>
		</div>
	</div>
	<div class="column w80">
		<div class="notification-from">
			Patrick Stephen
		</div>
		<div class="call-img" ng-click="navigate('consultativeTransfer')"></div>
	</div>
</div>

<div class="container">
	<div class="column w20">
		<div class="circle">
			<div class="contact-logo">
				<!--<div class="circle busy" ></div>-->
			</div>
		</div>
	</div>
	<div class="column w80">
		<div class="notification-from">
			Dan Chendra
		</div>
		<div class="call-img"></div>
	</div>
</div>

<div class="container">
	<div class="column w20">
		<div class="circle">
			<div class="contact-logo">
				<!--<div class="circle busy" ></div>-->
			</div>
		</div>
	</div>
	<div class="column w80">
		<div class="notification-from">
			E Promenzio
		</div>
		<div class="call-img"></div>
	</div>
</div>

<div class="container">
	<div class="column w20">
		<div class="circle">
			<div class="contact-logo">
				<!--<div class="circle busy" ></div>-->
			</div>
		</div>
	</div>
	<div class="column w80">
		<div class="notification-from">
			German Botto
		</div>
		<div class="call-img"></div>
	</div>
</div>

<div class="container">
	<div class="column w20">
		<div class="circle">
			<div class="contact-logo">
				<!--<div class="circle busy" ></div>-->
			</div>
		</div>
	</div>
	<div class="column w80">
		<div class="notification-from">
			Yagna Pant
		</div>
		<div class="call-img"></div>
	</div>
</div>





</div>

<div ng-include="'views/partials/footer.html'" ></div>
</snap-content>