<div ng-include="'views/partials/header.html'" ></div>
<div ng-include="'views/partials/tabs.html'" ></div>

<div class="notification">

<div class="container">
	<div class="column">
		<div class="circle">
			<div class="contact-logo"></div>
		</div>
	</div>
	<div class="column">
		<div class="notification-from">
			From: Marcelo Bonin
		</div>
		<div class="notification-text">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
		</div>
	</div>
</div>

<div class="container">
	<div class="column">
		<div class="circle">
			<div class="contact-logo"></div>
		</div>
	</div>
	<div class="column">
		<div class="notification-from">
			From: Edgardo Promenzio
		</div>
		<div class="notification-text">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
		</div>
	</div>
</div>

<div class="container">
	<div class="column">
		<div class="circle">
			<div class="contact-logo"></div>
		</div>
	</div>
	<div class="column">
		<div class="notification-from">
			From: Nicolas Avila
		</div>
		<div class="notification-text">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
		</div>
	</div>
</div>

<div class="container">
	<div class="column">
		<div class="circle">
			<div class="contact-logo"></div>
		</div>
	</div>
	<div class="column">
		<div class="notification-from">
			From: Marcelo Bonin
		</div>
		<div class="notification-text">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
		</div>
	</div>
</div>

<div class="container">
	<div class="column">
		<div class="circle">
			<div class="contact-logo"></div>
		</div>
	</div>
	<div class="column">
		<div class="notification-from">
			From: Marcelo Bonin
		</div>
		<div class="notification-text">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
		</div>
	</div>
</div>

<div class="container">
	<div class="column">
		<div class="circle">
			<div class="contact-logo"></div>
		</div>
	</div>
	<div class="column">
		<div class="notification-from">
			From: Marcelo Bonin
		</div>
		<div class="notification-text">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
		</div>
	</div>
</div>





</div>

<div ng-include="'views/partials/footer.html'" ></div>