<div ng-include="'views/partials/header.html'" ></div>

<div class="numpad">

<div class="numpad-container">

		<div class="container">
      <div class="column outside-columns middle-column" style="padding-left:0px;vertical-align:bottom;">
        <input type="text" class="input-number"/>
      </div>
      <div class="column outside-columns">
        <div class="circle del-circle" style="margin-left:10px;border-radius:0px;width:45px;"  ng-click="departments.sporting= !departments.sporting">
          <div class="number-title font-del">DEL</div>
        </div>
      </div>
	</div>
	<div class="container">
	<div class="column outside-columns">
        <div class="circle"  ng-click="departments.sporting= !departments.sporting">
          <div class="number-title">1</div>
        </div>
      </div>
      <div class="column outside-columns middle-column">
        <div class="circle"  ng-click="departments.appliances= !departments.appliances">
          <div class="number-title">2</div>
        </div>
      </div>
      <div class="column outside-columns">
        <div class="circle"  ng-click="departments.appliances= !departments.appliances">
          <div class="number-title">3</div>
        </div>
      </div>
	</div>

		<div class="container">
	<div class="column outside-columns">
        <div class="circle"  ng-click="departments.sporting= !departments.sporting">
          <div class="number-title">4</div>
        </div>
      </div>
      <div class="column outside-columns middle-column">
        <div class="circle"  ng-click="departments.appliances= !departments.appliances">
          <div class="number-title">5</div>
        </div>
      </div>
      <div class="column outside-columns">
        <div class="circle"  ng-click="departments.appliances= !departments.appliances">
          <div class="number-title">6</div>
        </div>
      </div>
	</div>

		<div class="container">
	<div class="column outside-columns">
        <div class="circle"  ng-click="departments.sporting= !departments.sporting">
          <div class="number-title">7</div>
        </div>
      </div>
      <div class="column outside-columns middle-column">
        <div class="circle" ng-click="departments.appliances= !departments.appliances">
          <div class="number-title">8</div>
        </div>
      </div>
      <div class="column outside-columns">
        <div class="circle"  ng-click="departments.appliances= !departments.appliances">
          <div class="number-title">9</div>
        </div>
      </div>
	</div>

		<div class="container">
	<div class="column outside-columns">
        <div class="circle"  ng-click="departments.sporting= !departments.sporting">
          <div class="number-title">*</div>
        </div>
      </div>
      <div class="column outside-columns middle-column">
        <div class="circle"  ng-click="departments.appliances= !departments.appliances">
          <div class="number-title">0</div>
        </div>
      </div>
      <div class="column outside-columns">
        <div class="circle" ng-click="departments.appliances= !departments.appliances">
          <div class="number-title">#</div>
        </div>
      </div>
	</div>
</div>

</div>

<div ng-include="'views/partials/footer.html'" ></div>